***Arithmetic Operations***

In [6]:
import pandas as pd

var = pd.DataFrame({"A" : [1,2,3,4],"B" : [5,6,7,8]})

print(var)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [10]:
var["C"] = var["A"] + var["B"]

print(var)

   A  B   C
0  1  5   6
1  2  6   8
2  3  7  10
3  4  8  12

In [11]:
var["C"] = var["A"] - var["B"]

print(var)

   A  B  C
0  1  5 -4
1  2  6 -4
2  3  7 -4
3  4  8 -4

In [12]:
var["C"] = var["A"] * var["B"]

print(var)

   A  B   C
0  1  5   5
1  2  6  12
2  3  7  21
3  4  8  32

In [13]:
var["C"] = var["A"] / var["B"]

print(var)

   A  B         C
0  1  5  0.200000
1  2  6  0.333333
2  3  7  0.428571
3  4  8  0.500000

In [14]:
var1 = pd.DataFrame({"A" : [10,20,30,40],"B" : [15,16,17,18]})

print(var1)

    A   B
0  10  15
1  20  16
2  30  17
3  40  18

In [15]:
var1["Python"] = var1["A"] <= 20

print(var1)

    A   B  Python
0  10  15    True
1  20  16    True
2  30  17   False
3  40  18   False