# Merge

In [16]:
import pandas as pd

var1 = pd.DataFrame({"A": [1,2,3,4],"B": [11,12,13,14]})
var1

var2 = pd.DataFrame({"A": [1,2,3,5],"B": [21,22,23,24]})
var2

# pd.merge(var1, var2, how="outer", indicator=True)
pd.merge(var1, var2)

Empty DataFrame
Columns: [A, B]
Index: []

In [21]:
pd.merge(var1, var2,left_index=True,right_index=True,suffixes=("name","python"))

   Aname  Bname  Apython  Bpython
0      1     11        1       21
1      2     12        2       22
2      3     13        3       23
3      4     14        5       24

# Concat

In [24]:
sr1 = pd.Series([1,2,3,4])
sr2 = pd.Series([11,12,13,14])

pd.concat([sr1,sr2])

0     1
1     2
2     3
3     4
0    11
1    12
2    13
3    14
dtype: int64

In [35]:
d1 = pd.DataFrame({"D": [1,2,3,4]})
d2 = pd.DataFrame({"A": [1,2,3,4],"B": [21,22,23,24]})

pd.concat([d1,d2],axis=1) # column
pd.concat([d1,d2],axis=0) # row
pd.concat([d1,d2])

     D    A     B
0  1.0  NaN   NaN
1  2.0  NaN   NaN
2  3.0  NaN   NaN
3  4.0  NaN   NaN
0  NaN  1.0  21.0
1  NaN  2.0  22.0
2  NaN  3.0  23.0
3  NaN  4.0  24.0