In [2]:
# read csv

In [59]:
import pandas as pd

csv_1 = pd.read_csv("C:\\Users\\Aditya\\OneDrive\\Desktop\\demo1.csv")

print(csv_1)

      Name      Course   Address
0   Aditya    Computer   Bhandup
1  Pranita  Electrical     Parel
2     Evan       Civil     Dadar
3     Kris   Computer    Matunga
4   Hritik       Civil     Thane
5      Sam  Electrical   Dahisar
6    Rajes    Computer     Kurla
7   Aditya       Civil  Borivali
8     Kris  Electrical     Dadar
9     Evan    Computer    Bandra

In [13]:
csv_2 = pd.read_csv("C:\\Users\\Aditya\\OneDrive\\Desktop\\demo1.csv",nrows=1)

print(csv_2)

     Name    Course  Address
0  Aditya  Computer  Bhandup
<class 'pandas.core.frame.DataFrame'>

In [17]:
csv_3 = pd.read_csv("C:\\Users\\Aditya\\OneDrive\\Desktop\\demo1.csv",usecols=["Name","Address"])

print(csv_3)

      Name   Address
0   Aditya   Bhandup
1  Pranita     Parel
2     Evan     Dadar
3     Kris   Matunga
4   Hritik     Thane
5      Sam   Dahisar
6    Rajes     Kurla
7   Aditya  Borivali
8     Kris     Dadar
9     Evan    Bandra

In [20]:
csv_4 = pd.read_csv("C:\\Users\\Aditya\\OneDrive\\Desktop\\demo1.csv",usecols=[0,2])

print(csv_4)

      Name   Address
0   Aditya   Bhandup
1  Pranita     Parel
2     Evan     Dadar
3     Kris   Matunga
4   Hritik     Thane
5      Sam   Dahisar
6    Rajes     Kurla
7   Aditya  Borivali
8     Kris     Dadar
9     Evan    Bandra

In [29]:
csv_5 = pd.read_csv("C:\\Users\\Aditya\\OneDrive\\Desktop\\demo1.csv",skiprows=[1,2])

print(csv_5)

     Name      Course   Address
0    Evan       Civil     Dadar
1    Kris   Computer    Matunga
2  Hritik       Civil     Thane
3     Sam  Electrical   Dahisar
4   Rajes    Computer     Kurla
5  Aditya       Civil  Borivali
6    Kris  Electrical     Dadar
7    Evan    Computer    Bandra

In [37]:
csv_6 = pd.read_csv("C:\\Users\\Aditya\\OneDrive\\Desktop\\demo1.csv",header = 2)

print(csv_6)

  Pranita  Electrical     Parel
0    Evan       Civil     Dadar
1    Kris   Computer    Matunga
2  Hritik       Civil     Thane
3     Sam  Electrical   Dahisar
4   Rajes    Computer     Kurla
5  Aditya       Civil  Borivali
6    Kris  Electrical     Dadar
7    Evan    Computer    Bandra

In [53]:
csv_6 = pd.read_csv("C:\\Users\\Aditya\\OneDrive\\Desktop\\demo1.csv",names=["col1","col2","col3"])

print(csv_6)

       col1        col2      col3
0      Name      Course   Address
1    Aditya    Computer   Bhandup
2   Pranita  Electrical     Parel
3      Evan       Civil     Dadar
4      Kris   Computer    Matunga
5    Hritik       Civil     Thane
6       Sam  Electrical   Dahisar
7     Rajes    Computer     Kurla
8    Aditya       Civil  Borivali
9      Kris  Electrical     Dadar
10     Evan    Computer    Bandra

In [55]:
csv_7 = pd.read_csv("C:\\Users\\Aditya\\OneDrive\\Desktop\\demo1.csv", header = None)

print(csv_7)

          0           1         2
0      Name      Course   Address
1    Aditya    Computer   Bhandup
2   Pranita  Electrical     Parel
3      Evan       Civil     Dadar
4      Kris   Computer    Matunga
5    Hritik       Civil     Thane
6       Sam  Electrical   Dahisar
7     Rajes    Computer     Kurla
8    Aditya       Civil  Borivali
9      Kris  Electrical     Dadar
10     Evan    Computer    Bandra